*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 255, 255);
    color: #000;
    min-height: 80vh;
    line-height: 1.5;
    background: url(https://png.pngtree.com/background/20250120/original/pngtree-elegant-white-texture-wallpaper-stunning-free-vector-picture-image_15259136.jpg) no-repeat center center/cover;
}


/*GRADIENT AND LAYER BLUR EFFECT*/
.image-gradient{
    position:absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}


.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
    z-index: 999;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

.header h1{
    position: relative;
    margin: 0;
    font-size: 2.6rem;
    font-weight: 300;
    background: linear-gradient(90deg, rgba(126,44,167,1), rgba(230,65,145,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    right: 2rem;
}

nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
    z-index: 5000;
}

nav a{
    position: relative;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    font-weight: 500;
    color: rgba(230, 65, 145, 1);
    transition: color 0.3s ease, transform 0.3s ease;
    background: linear-gradient(90deg, rgba(230, 65, 145, 1), rgba(126, 44, 167, 1));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    top: 5px;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, rgba(230, 65, 145, 1), rgba(126, 44, 167, 1));
    transition: width 0.4s ease;
    border-radius: 2px;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    transform: translateY(-2px);
    background-position: 100%;
}


.btn-signing{
    background: linear-gradient(135deg, rgba(230, 65, 145, 1), rgba(126, 44, 167, 1));
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 1.2s ease, box-shadow 0.4s ease;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(135deg,
        rgba(230, 65, 145, 1),
        rgba(126, 44, 167, 1),
        rgba(230, 65, 145, 1)
    );
    background-size: 200%;
    box-shadow: 0 0 20px rgba(249, 182, 212, 0.6);
    letter-spacing: 0.1em;
    transition: background-position 1.2s ease, box-shadow 0.4s ease;
    animation: glowingBorder 2s ease-in-out infinite alternate;
}

.btn-signing:hover{
    background-position: right;
    box-shadow: 0 0 28px rgba(194, 142, 221, 0.9);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}

.content{
    max-width: 40rem;
    margin-left: 5%;
    z-index: 999;
}


.tag-box{
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5, #5300a0);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

@keyframes animationGradient {
    to{
        background-position: 200%;
    }
}

.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: #000;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.tag-box .tag:hover{
    color: #5300a0;
}

.content h1{
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 1.1;
    text-shadow: 0 0 10px rgba(128,128,128,0.418);
    background: linear-gradient(90deg, rgba(230,65,145,1), rgba(126,44,167,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 20px rgba(249,182,212,0.2);
}

.description{
    font-size: 1.1rem;
    letter-spacing: 0.05em;
    max-width: 35rem;
    color: rgba(90, 50, 100, 0.7); 
}

.buttons{
    display: flex;
    gap: 1rem;
    margin-top: 6rem;
}

.btn-get-started {
    position: relative;
    display: inline-block;
    padding: 0.6rem 1.4rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #5300a0;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    background-color: #fff;
    transition: color 0.3s ease;
}

.btn-get-started::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px; 
    background: linear-gradient(90deg, rgba(230,65,145,1), rgba(126,44,167,1), rgba(230,65,145,1));
    background-size: 200%;
    animation: moveGradient 3s linear infinite;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    z-index: -1;
}

@keyframes moveGradient {
    to {
        background-position: 200%;
    }
}

.btn-get-started:hover {
    color: rgba(126,44,167,1);
    box-shadow: 0 0 20px rgba(230, 65, 145, 0.3);
} 

.btn-singning-main {
    text-decoration: none;
    background: linear-gradient(135deg,
        rgba(230, 65, 145, 1),
        rgba(126, 44, 167, 1),
        rgba(230, 65, 145, 1)
    );
    background-size: 200%;
    background-position: left;
    color: #fff;
    box-shadow: 0 0 20px rgba(249, 182, 212, 0.6);
    padding: 0.6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-position 1.2s ease, box-shadow 0.4s ease;
    animation: glowingBorder 2s ease-in-out infinite alternate;
}

.btn-singning-main:hover {
    background-position: right;
    box-shadow: 0 0 28px rgba(194, 142, 221, 0.9);
}

@keyframes glowingBorder {
    0% { box-shadow: 0 0 10px rgba(230, 65, 145, 0.6); }
    50% { box-shadow: 0 0 25px rgba(194, 142, 221, 0.9); }
    100% { box-shadow: 0 0 10px rgba(230, 65, 145, 0.6); }
}


.hero-box {
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    margin: 8%;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    z-index: 2;
    animation: fadeInHero 1s ease forwards;
}

@keyframes fadeInHero {
    from {
    opacity: 0;
    transform: translateY(40px);
}
    to {
    opacity: 1;
    transform: translateY(0);
}
}

.hero-box .content h1 {
margin-top: 0;
}

.hero-box .buttons {
margin-top: 2rem;
}

.ninalazos{
    position: absolute;
    top: 0;
    right: -13%;
    top: -30%;
    width: 55rem;
    pointer-events: none;
}



        